@*purpose:update my booking package
name:Sujani Wijesundera
*@

@model TravelExpertsData.Models.Booking

@{
    ViewData["Title"] = "Edit";
}


<div class="container travel-box">
    <h4 class="text-center">Update My Booking</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="BookingDate" class="control-label col-md-4">Booking Date:</label>
                    <label asp-for="BookingDate" class="control-label text-info col-md-8">@Html.DisplayFor(model => model.BookingDate)</label>
                </div>
                <div class="form-group row">
                    <label asp-for="BookingNo" class="control-label col-md-4">BookingNo:</label>
                    <label asp-for="BookingNo" class="control-label text-info col-md-8">@Html.DisplayFor(model => model.BookingNo)</label>
                </div>
                <div class="form-group row">
                    <label asp-for="TravelerCount" class="control-label col-md-4">Travellers Count:</label>
                    <div class="col-md-3">
                        <input asp-for="TravelerCount" class="form-control" />
                    </div>
                    <span asp-validation-for="TravelerCount" class="text-danger col-md-5"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="UPDATE" class="btn btn-primary mr-2" />
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>
            </form>
        </div>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
