@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Welcome to the Travel Experts website. This Website is provided solely to assist customers in gathering travel information, 
    determining the availability of travel—related goods and services, making legitimate reservations or otherwise 
    transacting business with travel suppliers, and for no other purposes. 
    The term "you" or “customer” refers to the customer visiting or using the Website and/or booking a reservation through us on this 
    Website, or through our customer service agents.
</p>
