@model TravelExpertsData.Models.Customer
@{
    ViewData["Title"] = "Login";
}

<form asp-action="Login">
    <table>
        <tr>
            <td>Username: </td>
            <td><input type="email" asp-for="CustEmail" /></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" asp-for="CustPassword" /></td>
        </tr>
        <tr>
            <td colspan="2" align="right"><input type="submit" value="SIGN IN" class="btn btn-primary mt-2" /></td>
        </tr>
    </table>
</form>

